.gridContainer{
     display: flex;
     flex-wrap: wrap;
     width: 500px;
     height: 500px;
     background-color: #ccc;
     padding: 0;
}

body{
    height: 100vh;
    overflow-y: hidden;
}

.gridCell{
    width:20px;
    height: 20px;
}